<div class="calculator" id="calculator">
  <div class="row">
    <div class="col m12">
        <h2 class="title">Calculadora</h2>
        <p class="text-center"><%= t("calculator.header.title") %></p>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col m3 s12">
        <div class="input-field">
          <label for="">
            <%= t("calculator.orign.title") %>
          </label>
          <select name="" id="orign">
            <% @orign.each do |o| %>
              <option value="<%= o.dd %>">
                <%= o.dd %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="col m3 s12">
        <div class="input-field">
          <label for="">
              <%= t("calculator.destination.title") %>
          </label>
          <select name="" id="destination">
            <% @destination.each do |d| %>
              <option value="<%= d.dd %>">
                <%= d.dd %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="col m3 s12">
        <div class="input-field">
          <label>
            <%= t("calculator.plan.title") %>
          </label>
          <select name="" id="plan">
            <% @plan.each do |p| %>
              <option value="<%= p.minutes %>">
                <%= p.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="col m3 s12">
        <div class="input-field">
          <label for="">
            <%= t("calculator.time.title") %>
          </label>
          <input type="number" name="" id="time" class="required" placeholder="<%= t('calculator.time.input') %>" required>

        </div>
      </div>
    </div>
  </div>

  <div class="preloader" id="loader-calculator">
    <div class="loader"></div>
  </div>

  <div class="result animated fadeIn" id="result">
    <div class="row">
      <div class="col m6 s12">
        <div class="card">
          <div class="card-title">
            <h2><%= t("calculator.FaleMais.with.title") %></h2>
          </div>
          <div class="card-content">
            <span id="result-with-plan"></span>
          </div>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="card">
          <div class="card-title">
            <h2><%= t("calculator.FaleMais.without.title") %></h2>
          </div>
          <div class="card-content">
            <span id="result-without-plan"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

 

  <div id="error"></div>
  <button class="btn center" id="btn-calculator"> <%= t("calculator.btn-calculator") %></button>
</div>