<footer class="footer">
  <div class="card footer">
   <div class="card-backgroud" id="footer-card1" ></div>
    <a class="card-content">
      <h2 class="card-title">
        <%= t('footer.buyPlan') %>
      </h2>
    </a>
  </div>

  <div class="card footer">
    <div class="card-backgroud" id="footer-card2" >
    </div>
    <a class="card-content">
      <h2 class="card-title">
        <%= t('footer.knowOutherPlan') %>
      </h2>
    </a>
  </div>
</footer>
