<div class="menu" id="menu">
  <div class="row">
    <div class="col m12 s12 l12">
      <nav>
          <%= image_tag("logo.png", :class => "logo", :id => "logo")%>
        <ul class="menu-content right">
          <li><a href="#home">Home</a></li>
          <li><a href="#calculator"><%= t('home.menu-calcular') %></a></li>
          <li>
            <div class="locale">
              <a href="<%= request.path %>?locale=en">
                <span class="flag-icon flag-icon-us"></span>
              </a>
            </div>
          </li>
          <li>
            <div class="locale">
              <a href="<%= request.path %>?locale=pt-BR"">
                <span class="flag-icon flag-icon-br"></span>
              </a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>