<div class="slideshow">
  <!-- Full-width images with number and caption text -->
  <div class="slides fade">
    <div class="text">
      <h2 class="">
        <%= t("slide.slide1") %>
      </h2>
    </div>
    <div class="click animated bounce ">
      <span>
        <%= t("home.click-here") %>
      </span>
      <a href="#calculator">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
    <%= image_tag("header")%>
  </div>

  <div class="slides fade">
    <div class="text">
      <h2 class="header">
        <%= t("slide.slide2") %>
      </h2>
    </div>
    <div class="click animated bounce ">
      <span>
        <%= t("home.click-here") %>
      </span>
      <a href="#calculator">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
    <%= image_tag("header2")%>
  </div>

  <div class="slides fade">
    <div class="text">
      <h2 class="header">
        <%= t("slide.slide3") %>
      </h2>
    </div>
    <div class="click animated bounce ">
      <span>
        <%= t("home.click-here") %>
      </span>
      <a href="#calculator">
        <i class="fa fa-angle-down"></i>
      </a>
    </div>
    <%= image_tag("header3")%>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" id="prev">&#10094;</a>
  <a class="next" id="next">&#10095;</a>
</div>

<!-- The dots/circles -->
<div class="dot-content">
  <span class="dot" id="slide-1"></span>
  <span class="dot" id="slide-2"></span>
  <span class="dot" id="slide-3"></span>
</div>
