@import "variables.scss";

.btn{
  font-size: $button-font-size;
  cursor: pointer;
  height: $button-height;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-radius;
  color: $button-color;
  background: $primary-color;
}