@import 'variables.scss';

.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  box-shadow:0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .25s;
  border-radius: 2px;
  padding: $card-padding;
  .card-title {
    font-size: 12px;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }
  &.footer{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 250px;
    border-top-color: #AAFFF2;
    background: linear-gradient(150deg, #379688 15%, #227e90 70%, #5DFFE7 94%);
    .card-content {
      width: 100%;
      cursor: pointer;
      .card-title {
        text-align: center;
        font-size: 2rem;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
      }
    }
  }
  .card-content {
    padding: $card-padding;
    border-radius: 0 0 2px 2px;

    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
    }
  }
}

@media #{$medium-and-up} {
  .card {
  
    &.footer{
      width: 100%;
     
      .card-content {
        width: 100%;
        cursor: pointer;
        .card-title {
          text-align: center;
          font-size: 2rem;
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
          color: white;
          font-weight: bold;
          border: 3px solid #f1f1f1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          width: 80%;
          padding: 20px;
          text-align: center;
        }
      }
    }
   
  }
}