@import 'variables.scss';

.input-field{
  label{
    display: block;
    margin: 20px 0px;
  }
  input{
    height: $input-height;
    border: $input-border;
    font-size: $input-font-size;
    height: $input-height;
    margin-bottom: $input-margin-bottom;
    padding: 0px 10px;
    width: 100%;

  }
  select{
    background: $select-background;
    font-size: $input-font-size;
    padding: $select-padding;
    width: 100%;
    max-width: 400px;
    border: $input-border;
    height: $input-height;
    cursor: pointer;
  }
}

@media #{$medium-and-up} {
  input{
    max-width: 400px;
    width: 100%;

  }
  select{
    width: 100%;
    max-width: 400px;
  }
}