// typhograph
.right{
  float: right;
}

.left{
  float: left;
}
.center{
  margin: 0 auto;
  display: block;
}
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

