@import 'variables.scss';

.menu{
  border-bottom: 1px solid $menu-border-color;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background:#0000001c;
  nav{
    display: flex;
    align-items: center;
    align-content: center;

    padding: 10px 20px;
    margin: 0 auto;
    height:$menu-height;
    line-height: $menu-height;
    width: 100%;
    max-width: 1200px;
    .menu-content{
      display: flex;
      align-items: center;
      align-content: center;
      list-style-type: none;
    	justify-content: flex-end;
      width: 100%;
      padding:0px;
      a{
        text-decoration: none;
        font-size: $menu-font-size;
        padding: 0px 20px;
        color: $menu-font-color;
        font-weight: bolder;
      }
      li{
        &:hover{
          border-bottom: 3px solid $color-white;
        }
      }
      .locale{
        a{
          padding: 0px;
        }
      }
    }
  }
}