@import "variables";

.slideshow{
  box-sizing:border-box;
  max-width: 100%;
  position: relative;
  margin: 0px auto;
  .slides{
    display: none;
    img{
      width: 100%;
      max-height: 800px;
      height: 100%;
    }
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    h2{
      width: 100%;
      display: block;
      text-align: center;
      margin: 0px auto;
      background:rgba(0, 0, 0, 0.20);
      padding: 20px;
    }
    span{
      font-style: italic;
    }
  }

  .click{
    position: absolute;
    top:90%;
    width: 100%;
    cursor: pointer;
    &:hover span{
      display: block;
    }
    span{
      font-size: 12px;
      color: #fff;
      font-style: italic;
      text-align: center;
      display: none;
    }
    a{
      color: #fff;
      text-decoration: none;
    }
    i{
      font-size: 20px;
      color: #fff;
      text-align: center;
      display: block;
    }
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 100px;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}
@media #{$medium-and-up} {
  .slideshow{

    /* Caption text */
    .text {
      font-size: 1.5rem;
      position: absolute;
      margin-top:350px;
      padding: 8px 10%;

      h2{
        width: 800px;
        text-align: center;
      }
    }
  }
}