@import '../components/variables';

.calculator{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0px auto 120px auto;
  .title{
    text-align: center;
    font-size: 3rem;
  }
  .content{
    margin: 50px auto;
  }
  .result{
    display: none;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  #error{
    color: #f00000;
    text-align: center;
    padding: 20px;
  }
}

@media #{$medium-and-up} {
  .calculator{
    max-width: 1000px;
  }
}