<!DOCTYPE html>
<html>
  <head>
    <title>Vizir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%
=begin%>
 <%= javascript_include_tag 'application' %> 
<%
=end%>

  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>

    <%= render 'layouts/js_locales_info' %>
  </body>
</html>
